<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <display-name>ServletApp</display-name>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>com.web.upload.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>com.web.upload.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Buys</display-name>
    <servlet-name>Buys</servlet-name>
    <servlet-class>com.web.upload.Buys</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buys</servlet-name>
    <url-pattern>/Buys</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Recommend</display-name>
    <servlet-name>Recommend</servlet-name>
    <servlet-class>com.web.upload.Recommend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recommend</servlet-name>
    <url-pattern>/Recommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.web.upload.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionCheck</display-name>
    <servlet-name>SessionCheck</servlet-name>
    <servlet-class>com.web.upload.SessionCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionCheck</servlet-name>
    <url-pattern>/SessionCheck</url-pattern>
  </servlet-mapping>
</web-app>